@{
    ViewBag.Title = Resources.Resources.IndexTitle;
}

<div class="jumbotron">
    <h1>@Resources.Resources.SupportCenter</h1>
    <p class="lead">@Resources.Resources.IndexWelcomeMsg</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>@Resources.Resources.NewTicket</h2>
        <p>@Resources.Resources.CreateTicket</p>
        <p><a class="btn btn-default" href="@Url.Action("Create", "Ticket")">@Resources.Resources.NewTicket</a></p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.Resources.AllTickets</h2>
        <p>@Resources.Resources.AllTicketsInfo</p>
        <p>@Html.ActionLink(@Resources.Resources.AllTickets, "Index", "Ticket", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>@Resources.Resources.ShowTicket</h2>
        <p>@Resources.Resources.ShowTicketInfo</p>
        <form action="/Ticket/Details" method="get" class="form-inline">
            <div class="form-group">
                <label class="sr-only" form="id">@Resources.Resources.Ticketnumber</label>
                <input id="id" name="id" type="text" class="form-control">
            </div>
            <input type="submit" value=@Resources.Resources.ShowTicket class="btn btn-default">
        </form>
        @*@using (Html.BeginForm("Details", "Ticket", FormMethod.Get, new { @class = "form-inline" }))
        {
            <div class="form-group">
                @Html.Label("id", "Ticketnummer", new { @class = "sr-only" })
                @Html.TextBox("id", null, new { @class = "form-control" })
            </div>
            <input type="submit" value="Toon ticket" class="btn btn-default" />
        }*@
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        window.onload(function () {
            var isPostBack = isPostBack ? "true" : "false"
            if (!isPostBack) {
                @Html.Action(actionName: "LoadLang", controllerName: "Language")
                @*$.ajax({
                    url: '@Url.Action("LoadLang","Language")'
                }).done(function () {
                    alert('done 360 noscope style');
                }).error(function () {
                    alert('420 rekt blaze it style')
                })*@

            }
        })
    </script>
}