<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.Resources.SupportCenter</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Dropdown.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Resources.SupportCenter, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav menuBar">
                    <li>@Html.ActionLink(@Resources.Resources.HomeTitle, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resources.AboutTitle, "About", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resources.ContactTitle, "Contact", "Home")</li>
                    <li class="langMenu">
                        @Html.ActionLink(@Resources.Resources.Taal, "")
                        <ul class="dropMenu">
                            <li>
                                <a href="@Url.Action("ChangeLang","Language", new { newLang = "nl-NL" })">
                                    <img src="~/Resources/netherlands_round_icon_32.png" alt="NL" />
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("ChangeLang","Language", new { newLang = "en-GB" })">
                                    <img src="~/Resources/united_kingdom_round_icon_32.png" alt="EN" />
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Resources.SupportCenter</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>