<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @Resources.Resources.SupportCenter</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Dropdown.css")
    @Styles.Render("~/Content/ActionLinkImg.css")
    @Styles.Render("~/Content/_layout.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Resources.SupportCenter, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink(@Resources.Resources.HomeTitle, "Index", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resources.AboutTitle, "About", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resources.ContactTitle, "Contact", "Home")</li>
                    <li>@Html.ActionLink(@Resources.Resources.Taal, "")
                        <ul>
                            <li>@Html.ActionLink(" ", "ChangeLang", "Language", new { newLang = "nl-NL" }, new { @class = "mylinkNL" })</li>
                            <li>@Html.ActionLink(" ", "ChangeLang", "Language", new { newLang = "en-GB" }, new { @class = "mylinkEN" })</li>
                        </ul>
                   </li>
                </ul>
            </div>
            @*@{
        Html.DropDownList("Languages", new List<SelectListItem>()
        {
            new SelectListItem() {Text="Derpish",Value="derp",Selected=true},
            new SelectListItem() {Text="English", Value="en-UK", Selected=false},
            new SelectListItem() {Text="Dutch", Value="nl-BE", Selected=false}
        });
    }
            <div class="dropdown navbar-collapse collapse">
                <button class="dropbtn">Dropdown</button>
                <div class="dropdown-content btn btn-toolbar nav navbar-nav">
                    <a href=""><img src="~/Resources/netherlands_round_icon_64.png" alt="NL-NL" /></a>
                    <a href=""><img src="~/Resources/united_kingdom_round_icon_64.png" alt="EN-UK" /></a>
                </div>
            </div>
            <ul class="nav navbar-collapse collapse">
                <li class="dropbtn btn">Derp
                <ul>
                    <li class="nav navbar-nav btn">@Html.ActionLink("EN", "ChangeLang", "Language", new { newLang = "en-GB" }, null)</li>
                    <li class="nav navbar-nav btn">@Html.ActionLink("NL", "ChangeLang", "Language", new { newLang = "nl-NL" }, null)</li>
                </ul>
                </li>
            </ul>*@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @Resources.Resources.SupportCenter</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

@section Scripts{
    <script type="text/javascript">
        window.onload(function() {
            @*Html.Action(actionName: "LoadLang", controllerName: "Language")*@
            $.ajax({
                url: '@Url.Action("LoadLang","Language")'
                
            }).done(function () {
                alert('done 360 noscope style');
            }).error(function () {
                alert('420 rekt blaze it style')
            })
        })
    </script>
}